---
apiVersion: v1
kind: Service
metadata:
  name: kubernetes-lb
  namespace: kube-public
  annotations:
    metallb.universe.tf/address-pool: special-lb-pool
    metallb.universe.tf/loadBalancerIPs: 10.1.10.100
spec:
  ports:
    - port: 6443
      targetPort: 6443
  type: LoadBalancer
---
apiVersion: v1
kind: Endpoints
metadata:
  name: kubernetes-lb
  namespace: kube-public
subsets:
  - addresses:
      {% for host in groups['mainnodes'] %}
      - ip: {{hostvars[host]['ansible_ssh_host']}}
      {% endfor %}
    ports:
      - port: 6443
