---
apiVersion: v1
kind: Endpoints
metadata:
  name: kubernetes-lb
  namespace: kube-public
subsets:
  - addresses:
      - ip: "{{ hostvars[groups['main_master'][0]]['ansible_default_ipv4']['address'] }}"
{% for host in groups['secondary_masters'] %}
      - ip: {{hostvars[host]['ansible_default_ipv4']['address']}}
{% endfor %}
    ports:
      - port: 6443
