---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ secret_name }}
  namespace: {{ current_namespace }}
spec:
  itemPath: "vaults/2pywcio4vfcenxsetefzmjpb6q/items/{{ item_id }}"
