---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: basic-auth
  namespace: {{ namespace }}
spec:
  itemPath: "vaults/2pywcio4vfcenxsetefzmjpb6q/items/xfp2vpijhqotilthaxpzfmotqm"
