---
controller:
  # hostNetwork: true
  # containerPort:
  #   http: 10080
  #   https: 10443
  service:
    loadBalancerIp: "{{ nginx.ingress_lb }}"
    externalTrafficPolicy: Local
    annotations:
      metallb.universe.tf/address-pool: special-lb-pool
      metallb.universe.tf/loadBalancerIPs: "{{ nginx.ingress_lb }}"
  metrics:
    enabled: true
